Source: ros-humble-orocos-kdl
Section: misc
Priority: optional
Maintainer: Jacob Perron <jacob@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libcppunit-dev <!nocheck>, libeigen3-dev, ros-humble-eigen3-cmake-module, ros-humble-ros-workspace
Homepage: http://wiki.ros.org/orocos_kdl
Standards-Version: 3.9.2

Package: ros-humble-orocos-kdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, pkg-config, ros-humble-eigen3-cmake-module, ros-humble-ros-workspace
Description: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
