Source: ros-dashing-orocos-kdl
Section: misc
Priority: extra
Maintainer: Steven! Ragnarök <steven@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, libcppunit-dev, libeigen3-dev, ros-dashing-ros-workspace
Homepage: http://wiki.ros.org/orocos_kdl
Standards-Version: 3.9.2

Package: ros-dashing-orocos-kdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, pkg-config, ros-dashing-ros-workspace
Description: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
