Source: ros-foxy-orocos-kdl
Section: misc
Priority: optional
Maintainer: Ivan Paunovic <ivanpauno@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libcppunit-dev, libeigen3-dev, ros-foxy-eigen3-cmake-module, ros-foxy-ros-workspace
Homepage: http://wiki.ros.org/orocos_kdl
Standards-Version: 3.9.2

Package: ros-foxy-orocos-kdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, pkg-config, ros-foxy-eigen3-cmake-module, ros-foxy-ros-workspace
Description: This package contains a recent version of the Kinematics and Dynamics Library (KDL), distributed by the Orocos Project.
